@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

body{
    margin: 0;
    padding: 0;
}

header{
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
}
.card{
    font-family: 'Poppins', sans-serif;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aquamarine;
    padding: 20px 0 20px 0;
    width: 500px;
    margin: 0 auto 0 auto;
}
.text{
    width: 30%;
}
h2{
    color: rgba(0, 0, 0, 0.692);
    font-size: 25px;
}
h3{
    color: rgb(128, 177, 219);
    font-size: 20px;
}

img{
    border-radius: 50%;
}

.container1{
    background-color: rgb(87, 255, 137);
    margin: 10% auto;
    padding: 80px 0;
    text-align: center;
}

.container2{
    background-color: rgb(87, 255, 137);
    margin: 10% auto;
    padding: 80px 10px;
    text-align: center;
}
input {
    border: 1px solid rgba(252, 252, 252, 0.4);
    background-color: rgba(252, 252, 252, 0.2);
    width: 250px;
    border-radius: 3px;
    font-family: "Source Sans Pro", sans-serif;
    padding: 10px 15px;
    margin: 0 auto 10px auto;
    display: block;
    text-align: center;
    font-size: 18px;
    color: white;
    font-weight: 300;
  }
  
  button {
    appearance: none;
    outline: 0;
    background-color: white;
    border: 0;
    padding: 10px 15px;
    color: #50a3a2;
    border-radius: 3px;
    width: 250px;
    font-size: 18px;
  }
  









  
.conta {
    width: 100%;
    height: auto;
    min-height: 500px;
    max-width: 500px;
    min-width: 250px;
    background: #f1f5f8;
    background-image: radial-gradient(#bfc0c1 7.2%, transparent 0);
    background-size: 25px 25px;
    border-radius: 20px;
    box-shadow: 4px 3px 7px 2px #00000040;
    padding: 1rem;
    box-sizing: border-box;
    margin: 0 auto 100px auto;
  }
  .head {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
  }
  .head h1 {
    transform: rotate(2deg);
    padding: 0.2rem 1.2rem;
    border-radius: 20% 5% 20% 5%/5% 20% 25% 20%;
    background-color: #fdcb6e;
    font-size: 1.5rem;
  }
  
  .form input {
    box-sizing: border-box;
    background-color: transparent;
    padding: 0.7rem;
    border-bottom-right-radius: 15px 3px;
    border-bottom-left-radius: 3px 15px;
    border: solid 3px transparent;
    border-bottom: dashed 3px #fdcb6e;
    font-family: "Architects Daughter", cursive;
    font-size: 1rem;
    color: hsla(260, 2%, 25%, 0.7);
    width: 70%;
    margin-bottom: 20px;
  }
  
  button {
    padding: 0;
    border: none;
    font-family: "Architects Daughter", cursive;
    text-decoration: none;
    padding-bottom: 3px;
    border-radius: 5px;
    background-color: #ffeaa7;
  }
  button span {
    background: #f1f5f8;
    display: block;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: 2px solid hsl(198, 1%, 29%);
  }
  button span:hover {
    background: #d5d8db;
    display: block;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: 2px solid hsl(198, 1%, 29%);
  }
  
  li {
    text-align: left;
    position: relative;
    padding: 0.5rem;
  }
  